.apag-image{
  //position: relative;
  button[aria-lable='play']{
    background-color: red;
  }
  .apag-button{
    width: 50px;
    height: 50px;
    //position: absolute;
    //bottom: 15px;
    //right: 15px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    display: block;
    padding: 0;
    margin: 0;
    border: solid 3px #fff;
    i{
      line-height: 30px;
    }
    &:focus{
      outline-offset: 3px;
    }
  }
}
